* {
    padding: 0px;
    margin: 0px;
}

.center {
    display: flex;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

.loadingScreen {
    display: flex;
    align-items: center;
    transition: opacity .5s ease-out, visibility .5s ease-out;
}

.loader {
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 2px solid green;
    border-right: 2px solid green;
    animation: rotateLoader 1s linear infinite;
}

.loadingScreen p {
    margin-left: 10px;
    font-size: 1.4rem;
    align-self: center;
}

@keyframes rotateLoader {
    to {
        transform: rotate(360deg);
    }

}

.page {
    display: none;
    height: 100svh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 192, 203);
    opacity: 0;
    transition: opacity .3s ease-in;
}

.heading {
    height: 50px;
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    z-index: 1;
}


.opponent {
    height: 120px;
    min-width: 350px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: darkkhaki;
    border-radius: 10px;
    outline: 2px solid indianred;
    opacity: 0;
    transition: opacity .3s linear;
}

.opponent p {
    color: white;
    font-weight: 600;
    margin-left: 20px;
}

.opponent button {
    font-size: 30px;
    height: 45%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
}

.userIcon {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 20px;
}

.symbol {
    display: none;
    opacity: 0;
    height: 100px;
    min-width: 350px;
    background-color: darkkhaki;
    border-radius: 10px;
    transition: opacity .3s linear;
    outline: 2px solid indianred;

}

.symbol p {
    height: 40%;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: white;
}

.choose {
    height: 60%;
    display: flex;
}

.choose button {
    width: 50%;
    border: none;
    border-radius: 10px;
    font-size: 2.2rem;
    background-color: transparent;
    cursor: pointer;
    color: grey;
}

.round {
    height: 150px;
    width: 100%;
    padding: 10px 20px;
    background-color: #e3e6e6;
    font-size: 4rem;
    color: grey;
    border-top: 5px solid powderblue;
    border-bottom: 5px solid powderblue;
    box-sizing: border-box;
    position: absolute;
    display: none;
    z-index: 1;
    opacity: 0;
    text-align: center;
    align-content: center;
    transition: opacity .4s linear;
}

.game {
    min-height: calc(100svh - 50px);
    background-color: rgb(255, 192, 203);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity .2s linear;
}


.board {
    height: auto;
    width: auto;
    /* background-color: #e3e6e6; */
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
}

.box {
    background-color: darkkhaki;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    transition: box-shadow .2s linear;
}


.tick {
    height: 60px;
    width: 60px;
    color: grey;
    text-align: center;
    font-size: 50px;
    align-content: center;
}

.scoreBoard {
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.score {
    height: 40px;
    font-size: 30px;
    font-family: 'Games', sans-serif;
    font-weight: 400;
    align-content: space-between;
    text-align: center;
}

score::after{
    height: 80px;
}

.winner {
    height: 100px;
    width: 330px;
    text-align: center;
    align-content: center;
    background-color: #e3e6e6;
    color: white;
    font-size: 4rem;
    font-weight: 800;
    border-radius: 10px;
    display: none;
    position: absolute;
    opacity: 0;
    transition: opacity .5s linear;
    outline: 5px solid powderblue;
    box-sizing: border-box;
}

.replay {
    height: 100px;
    width: 330px;
    background-color: #e3e6e6;
    color: grey;
    border-radius: 10px;
    font-size: 4rem;
    text-align: center;
    align-content: center;
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity .5s linear;
    cursor: pointer;
}

.caption {
    height: 40px;
    width: 200px;
    /* padding: 9px; */
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    color: white;
    font-weight: 600;
    cursor: pointer;
    overflow: visible;
}

.caption::after {
    height: 100px;
}

.glow {
    box-shadow: 0 0 10px 12px rgba(255, 255, 255, .8);
}