* {
    padding: 0px;
    margin: 0px;
}

.center {
    display: flex;
    height: 100svh;
    justify-content: center;
    align-items: center;
}

.loadingScreen {
    display: flex;
    align-items: center;
    transition: opacity .5s ease-out, visibility .5s ease-out;
}

.loader {
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 2px solid green;
    border-right: 2px solid green;
    animation: rotateLoader 1s linear infinite;
}

.loadingScreen p {
    margin-left: 10px;
    font-size: 1.4rem;
    align-self: center;
}

@keyframes rotateLoader {
    to {
        transform: rotate(360deg);
    }

}

.page {
    display: none;
    height: 100svh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F7F2;
    opacity: 0;
    transition: opacity .3s ease-in;
}

.heading {
    height: 100px;
    font-size: 2rem;
    position: absolute;

    top: calc(100svh / 2 - 50px);

    display: flex;
    align-items: center;
    z-index: 1;
    color: #88665d;
    transition: all 1.1s ease-in;
}

.heading.animate{
    font-size: 1rem;
    top:0px;
}

.opponent {
    height: 120px;
    min-width: 350px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: darkkhaki;
    border-radius: 10px;
    outline: 2px solid indianred;
    opacity: 0;
    transition: opacity .3s linear;
}

.opponent p {
    color: white;
    font-weight: 600;
    margin-left: 20px;
}

.opponent button {
    font-size: 30px;
    height: 45%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
}

.userIcon {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 20px;
}

.symbol {
    display: none;
    opacity: 0;
    height: 100px;
    min-width: 350px;
    background-color: darkkhaki;
    border-radius: 10px;
    transition: opacity .3s linear;
    outline: 2px solid indianred;

}

.symbol p {
    height: 40%;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: white;
}

.choose {
    height: 60%;
    display: flex;
}

.choose button {
    width: 50%;
    border: none;
    border-radius: 10px;
    font-size: 2.2rem;
    background-color: transparent;
    cursor: pointer;
    color: grey;
}

.choose button:hover{
    opacity: .5;
}

.round {
    height: 100px;
    width: 100%;
    padding: 10px 20px;
    background-color: #e3e6e6;
    font-size: 4rem;
    color: #8e5572;
    border-top: 5px solid #8e5572;
    border-bottom: 5px solid #8e5572;
    box-sizing: border-box;
    position: absolute;
    display: none;
    z-index: 1;
    opacity: 0;
    text-align: center;
    align-content: center;
    transition: opacity .4s linear;
    inset: 0;
    margin: auto;
    pointer-events: none;

}

.game {
    height: calc(100svh - 100px);
    background-color: #F2F7F2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s linear;
}


.turn {
    height: 55px;
    width: 160px;
    background-color: #c2b97f;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 460px;
    opacity: 0;
    transition: opacity .4s linear;
}


.board {

    height: auto;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px);
    position: absolute;

}

.box {
    background-color: #bcaa99;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    transition: box-shadow .4s linear;
}


.tick {
    height: 60px;
    width: 60px;
    color: #8e5572;
    text-align: center;
    font-size: 50px;
    align-content: center;
}

.scoreBoard {
    height: 55px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    pointer-events: none;
    color: #5e0035;
}

.score {
    height: 100%;
    font-size: 30px;
    font-family: 'Games', sans-serif;
    font-weight: 400;
    text-align: center;

}


.drawBoard {
    height: 100px;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color: #e3e6e6;
    color: grey;
    font-size: 3rem;
    font-weight: 800;
    display: none;
    position: absolute;
    inset: 0;
    margin: auto;
    opacity: 0;
    border-top: 5px solid powderblue;
    border-bottom: 5px solid powderblue;
    box-sizing: border-box;
    transition: transform .4s linear, opacity .4s linear;

}


.winner {
    height: 100px;
    width: 330px;
    text-align: center;
    align-content: center;
    background-color: #e3e6e6;
    color: grey;
    font-size: 3rem;
    font-weight: 800;
    display: none;
    position: absolute;
    inset: 0;
    margin: auto;
    opacity: 0;
    border-radius: 10px;
    outline: 5px solid powderblue;
    box-sizing: border-box;
    transition: transform .4s linear, opacity .4s linear;
}


.replay {
    height: 100px;
    width: 330px;
    background-color: #ffffff;
    color: grey;
    border-radius: 10px;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    align-content: center;
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity .5s linear;
    cursor: pointer;
    outline: 5px solid darkkhaki;
}

.wrongMove {
    height: 38px;
    width: 140px;
    border-radius: 6px;
    border: none;
    font-size: 1.1rem;
    display: none;
    bottom: 200px;
    position: absolute;
    opacity: 0;
    transition: opacity .3s linear;
    background-color: #ffffff;
    color: black;
}

.caption {
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 10px;
    background-color: #8e5572;
    color: white;
    font-weight: 600;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s linear, visibility .4s linear;
    text-align: center;
    align-content: center;
    margin-bottom: 50px;
}

.caption::after {
    height: 10px;
}

.glow {
    box-shadow: 0 0 10px 12px rgba(255, 255, 255, .8);
}

.reset {
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

@media (hover:hover){
    .box:hover{
        opacity: .6;
    }
    
    .box.clicked:hover{
        opacity: 1;
    }
}